#include "../Source/Resources.h"

#define RESOURCE_DIRECTORY	"./Resources/"

RESOURCE_ICON		ICON			"./Iconset/Windows/AppIcon.ico"
RESOURCE_FONT		FILE_BITMAP		RESOURCE_DIRECTORY RESOURCE_FONT_FILE
RESOURCE_HAPPYMAC	FILE_BITMAP		RESOURCE_DIRECTORY RESOURCE_HAPPYMAC_FILE
RESOURCE_SADMAC		FILE_BITMAP		RESOURCE_DIRECTORY RESOURCE_SADMAC_FILE

1 VERSIONINFO
FILEVERSION			0,8,0,0
PRODUCTVERSION		0,8,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "kurtwink"
			VALUE "FileDescription", "https://kurtw.ink/"
			VALUE "FileVersion", "0.8.0"
			VALUE "InternalName", "Egg"
			VALUE "LegalCopyright", "Copyright © 2019-2023 Kurt. All rights reserved."
			VALUE "OriginalFilename", "Egg.exe"
			VALUE "ProductName", "Egg"
			VALUE "ProductVersion", "0.8.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
